<footer>
<div class="footerContainer">
  <div class="sosialIcons">
    <a href="https://www.facebook.com/emin.elekberli.33/">  <i class="bi bi-facebook fb"></i> </a>
    <a href="https://www.instagram.com/good_future__/">  <i class="bi bi-instagram"></i> </a>
    <a href="https://api.whatsapp.com/send/?phone=994703800925&text&type=phone_number&app_absent=0">  <i class="bi bi-whatsapp"></i> </a>
    <a href="">  <i class="bi bi-youtube "></i> </a>
  </div>
</div>
<div class="footerNav">
  <ul>

    <li><a href="">Home</a></li>
    <li><a href="">News</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Contact Us</a></li>
  </ul>
</div>

<div class="footerBottom">
  <p>Copyright &copy;2023;Designed by <span class="designer" >Emin</span></p>
</div>
</footer>