.container{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
 
 
    }
img {
    float: left;
    width:  100%;
    height: 200px;
    object-fit: cover;
}
.pp{
    white-space: pre!important;
}

