<main class="form-signin w-100 m-auto">
  <form>
  
    <h1 class="h3 mb-3 fw-normal">Admin giris </h1>

    <div class="form-floating">
      <input (keyup)="onKey($event)"  type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
     
    </div>
    <div class="form-floating">
      <input (keyup)="onKey1($event)" type="password" class="form-control" id="floatingPassword" placeholder="Password">
     
    </div>

   
    <button (click)="add()" class="btn btn-primary w-100 py-2" type="submit">Giris</button>
  
  </form>
</main>